# Processing data
datasets
*.nii.gz
subject_ids.txt
bids-dataset

# Visualization
figures
gifs*/

# Python
.mypy_cache/
.ruff_cache/
.venv/
uv.lock
.python-version

# VSCode
.vscode/

# OSX
.DS_STORE
