# LaTex build files
paper.*
!paper.LaTex
!paper.bib
*.pdf
*.txt

# Journal template
tmi.*
!tmi.sty

# Figures
!figures/0111-rigid-metric_rel_diff-mean.pdf
!figures/0011-affine-metric_rel_diff-mean.pdf
!figures/0001-syn-metric_rel_diff-mean.pdf
!figures/pmin-threshold-last-iteration/pmin-overview.pdf
